<footer class="footer">
    <div class="container-fluid">
        <div class="_hr"></div>
        <div class="_content">
            <div class="_left">
                <ul class="footer-social">
                   <li>
                       <a href="#">
                           <span class="icon-twitter"></span>
                       </a>
                   </li>

                    <li>
                        <a href="#">
                            <span class="icon-facebook"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon-linkedin"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon-youtube"></span>
                        </a>
                    </li>
                </ul>

                <div class="dropdown change-lang">
                    <button class="dropdown-toggle -white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="assets/img/sprite.svg#lang"></use>
                        </svg>
                        en
                    </button>
                    @require('../component/lang-list.html')
                </div>

                <nav class="footer-nav">
                    <p class="copy">
                        &copy; 2022 Miro
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                                Terms of Service
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Privacy Policy
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Manage Cookies
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="_right">
                <a href="#">
                    <img src="assets/img/app-store.svg" alt="App Store" loading="lazy" width="134" height="45">
                </a>

                <a href="#">
                    <img src="assets/img/google-play.svg" alt="Google Play" loading="lazy" width="152" height="45">
                </a>
            </div>
        </div>
    </div>
</footer>