<ul class="dropdown-menu">
    <li>
        <a class="dropdown-item" href="#">DE</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">ES</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">KA</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">RO</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">SK</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">EN</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">AR</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">PL</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">IT</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">EL</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">BG</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">HU</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">RU</a>
    </li>
</ul>