<div class="main">
    <section class="take-idea-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 px-md-5 px-3 order-md-0 order-1">
                    <h1 class="take-idea-title section-title">Take ideas from better to best</h1>
                    <p class="take-idea-text">Miro is your team's visual platform to connect, collaborate, and create — together.</p>

                    <form method="post" class="take-idea-form">
                        <input type="text" name="email" placeholder="Enter your work email">
                        <button class="btn full-w" type="submit">Sign up free</button>
                        <p class="take-idea-form-text">
                            Collaborate with your team within minutes
                        </p>
                    </form>
                </div>
                <div class="col-md-7 mb-md-0 mb-5">
                    <img src="assets/img/take-ideas-image.jpg" alt="Take ideas from better to best" width="640" height="464">
                </div>
            </div>
        </div>
    </section>

    <section class="collaborate-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="collaborate-title section-title">
                        <br>
                        Collaborate without
                        constraints
                        <img src="assets/img/idea.svg" class="collaborate-idea" alt="YOUR IDEA STARTS HERE" width="173" height="24">
                    </h2>
                </div>

                <div class="col-md-4 collaborate-item">
                    <h3>Free forever</h3>
                    <p>
                        Our free plan gives you unlimited team members, 3 boards, and 300+ expert-made templates. Signing up with your work email lets you bring in your team faster. See our
                        <a href="#">pricing plans</a> for more features.
                    </p>
                </div>

                <div class="col-md-4 collaborate-item">
                    <h3>Easy integrations</h3>
                    <p>
                        Miro has 100+ powerful integrations with tools you already use like G Suite, Slack, and Jira, so your workflow is seamless. View the full list in our <a href="#">Marketplace</a> .
                    </p>
                </div>

                <div class="col-md-4 collaborate-item">
                    <h3>Security first</h3>
                    <p>
                        We treat your data like you would — with the utmost care. We follow industry-leading security standards and give you tools to protect intellectual property. Learn more
                        at our <a href="#">Trust Center</a>.
                    </p>
                </div>

                <div class="col-12 text-center">
                    <a href="" class="btn">Sign up free</a>
                </div>
            </div>
        </div>
    </section>
</div>